.emailNavigationContainer {
  width: 100%;
  background-color: rgb(21, 41, 67);
}
.emailNav {
  display: flex;
  flex-direction: column;
}
.emailNav a {
  display: flex;
  align-items: center;
  height: 60px;
  color: white;
  padding-left: 30px;
}
.emailNav a:global(.active) {
  background-color: rgb(29, 78, 216);
}
