.emailPage {
  display: flex;
}

.emailPage > div:first-child {
  width: 25%;
  height: calc(100vh - 66px);
  overflow: auto;
  border-right: 1px solid rgb(229, 231, 235);
}

.emailPage > div:last-child {
  width: 75%;
  min-height: calc(100vh - 66px);
}

.centerText {
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
